.base-table {
  :deep(.base-table-header) {
    background: #f5f9ff !important;
    height: 48px;
    box-shadow: 0px 2px 4px 0px rgba(106, 120, 140, 0.2);
    .cell {
      color: #1e1e1e;
    }
  }
  ::v-deep(.el-table__body) {
    .el-table__body-wrapper {
    }
    .el-table__cell {
      height: 48px;
    }
  }
  ::v-deep(.el-scrollbar) {
    .el-scrollbar__wrap {
      .el-scrollbar__view {
        height: 100%;
      }
    }
  }
}
