.el-input {
  overflow: hidden;
  font-size: 14px;
  .el-input__wrapper {
    padding: 1px 16px;
  }
  &__inner {
    min-height: 32px;
    border: none;
    box-shadow: none;
    height: 100%;
    line-height: inherit;
    &::-webkit-input-placeholder {
      color: #869096;
    }
    &:focus,
    &:hover{
      border: none !important;
      box-shadow: none !important;
    }
  }
}
